
@{
    ViewBag.Title = "BapNuoc";
    Layout = "~/Views/Layout/_DungChungLayout.cshtml";
    <link rel="stylesheet" href="~/Content/Css/BapNuoc.css" />
}

<div class=e123_633>
   
    <div class=e124_2>
        <div class="e123_671"></div><span class="e123_676">Bắp rang bơ</span>
        <div><img class="e123_675" src="~/img/imgBap.png"></div>
        <div class="e123_677"></div><span class="e123_678">1</span>
        <div class=e123_685>
            <div class="e123_679"></div><span class="e123_681">-</span>
        </div>
        <div class=e123_686>
            <div class="e123_680"></div><span class="e123_684">+</span>
        </div><span class="e124_29">40.000 đ</span><span class="e124_28">Mix phô mai, Caramel, Chocolate</span>
    </div>
    <div class=e124_15>
        <div class="e124_16"></div><span class="e124_17">Nước ngọt</span>
        <div><img class="e124_18" src="~/img/imgNuoc.png"></div>
        <div class="e124_19"></div><span class="e124_20">1</span>
        <div class=e124_21>
            <div class="e124_22"></div><span class="e124_23">-</span>
        </div>
        <div class=e124_24>
            <div class="e124_25"></div><span class="e124_26">+</span>
        </div><span class="e124_27">Coca Cola, Pepsi, 7Up, Sprite</span><span class="e124_30">40.000 đ</span>
    </div>
    <div class=e125_31>
        <div class="e125_32"></div><span class="e125_33">Combo bắp nước</span>
        <div><img class="e125_34" src="~/img/imgBapNuoc.png"></div>
        <div class="e125_35"></div><span class="e125_36">1</span>
        <div class=e125_37>
            <div class="e125_38"></div><span class="e125_39">-</span>
        </div>
        <div class=e125_40>
            <div class="e125_41"></div><span class="e125_42">+</span>
        </div><span class="e125_43">Nước ngọt: Coca Cola, Pepsi, 7Up, Sprite</span><span class="e125_44">70.000 đ</span><span class="e125_45">Bắp rang bơ: Mix phô mai, Caramel, Chocolate</span>
    </div>
    <div class=e125_48>
        <div class="e125_46"></div><span class="e125_47">Thanh toán</span>
    </div>
</div>

