
@{
    ViewBag.Title = "ChonGheNgoi";
    Layout = "~/Views/Layout/_DungChungLayout.cshtml";
    <link rel="stylesheet" href="~/Content/Css/ChonGheNgoi.css" />
}

<div class=e45_193>
    
    <div class=e110_357>
        <div class="e109_2"></div>
        <div class="e109_3"></div><span class="e109_4">MÀN HÌNH</span>
        <div class=e110_71>
            <div class=e109_7>
                <div class="e109_5"></div><span class="e109_6">A1</span>
            </div>
            <div class=e109_8>
                <div class="e109_9"></div><span class="e109_10">A2</span>
            </div>
            <div class=e109_11>
                <div class="e109_12"></div><span class="e109_13">A3</span>
            </div>
            <div class=e109_14>
                <div class="e109_15"></div><span class="e109_16">A4</span>
            </div>
            <div class=e109_17>
                <div class="e109_18"></div><span class="e109_19">A5</span>
            </div>
            <div class=e109_20>
                <div class="e109_21"></div><span class="e109_22">A6</span>
            </div>
            <div class=e109_23>
                <div class="e109_24"></div><span class="e109_25">A10</span>
            </div>
            <div class=e109_26>
                <div class="e109_27"></div><span class="e109_28">A11</span>
            </div>
            <div class=e109_29>
                <div class="e109_30"></div><span class="e109_31">A7</span>
            </div>
            <div class=e109_32>
                <div class="e109_33"></div><span class="e109_34">A8</span>
            </div>
            <div class=e109_35>
                <div class="e109_36"></div><span class="e109_37">A9</span>
            </div>
            <div class=e110_38>
                <div class="e110_39"></div><span class="e110_40">A12</span>
            </div>
            <div class=e110_41>
                <div class="e110_42"></div><span class="e110_43">A13</span>
            </div>
            <div class=e110_44>
                <div class="e110_45"></div><span class="e110_46">A14</span>
            </div>
            <div class=e110_47>
                <div class="e110_48"></div><span class="e110_49">A15</span>
            </div>
            <div class=e110_50>
                <div class="e110_51"></div><span class="e110_52">A16</span>
            </div>
            <div class=e110_62>
                <div class="e110_63"></div><span class="e110_64">A17</span>
            </div>
            <div class=e110_65><span class="e110_67">A18</span></div>
            <div class=e110_68>
                <div class="e110_69"></div><span class="e110_70">A19</span>
            </div>
        </div>
        <div class=e110_72>
            <div class=e110_73>
                <div class="e110_74"></div><span class="e110_75">B1</span>
            </div>
            <div class=e110_76>
                <div class="e110_77"></div><span class="e110_78">B2</span>
            </div>
            <div class=e110_79>
                <div class="e110_80"></div><span class="e110_81">B3</span>
            </div>
            <div class=e110_82>
                <div class="e110_83"></div><span class="e110_84">B4</span>
            </div>
            <div class=e110_85>
                <div class="e110_86"></div><span class="e110_87">B5</span>
            </div>
            <div class=e110_88>
                <div class="e110_89"></div><span class="e110_90">B6</span>
            </div>
            <div class=e110_91>
                <div class="e110_92"></div><span class="e110_93">B10</span>
            </div>
            <div class=e110_94>
                <div class="e110_95"></div><span class="e110_96">B11</span>
            </div>
            <div class=e110_97>
                <div class="e110_98"></div><span class="e110_99">B7</span>
            </div>
            <div class=e110_100>
                <div class="e110_101"></div><span class="e110_102">B8</span>
            </div>
            <div class=e110_103>
                <div class="e110_104"></div><span class="e110_105">B9</span>
            </div>
            <div class=e110_106>
                <div class="e110_107"></div><span class="e110_108">B12</span>
            </div>
            <div class=e110_109>
                <div class="e110_110"></div><span class="e110_111">B13</span>
            </div>
            <div class=e110_112>
                <div class="e110_113"></div><span class="e110_114">B14</span>
            </div>
            <div class=e110_115>
                <div class="e110_116"></div><span class="e110_117">B15</span>
            </div>
            <div class=e110_118>
                <div class="e110_119"></div><span class="e110_120">B16</span>
            </div>
            <div class=e110_121>
                <div class="e110_122"></div><span class="e110_123">B17</span>
            </div>
            <div class=e110_124><span class="e110_125">B18</span></div>
            <div class=e110_126>
                <div class="e110_127"></div><span class="e110_128">B19</span>
            </div>
        </div>
        <div class=e110_129>
            <div class=e110_130>
                <div class="e110_131"></div><span class="e110_132">C1</span>
            </div>
            <div class=e110_133>
                <div class="e110_134"></div><span class="e110_135">C2</span>
            </div>
            <div class=e110_136>
                <div class="e110_137"></div><span class="e110_138">C3</span>
            </div>
            <div class=e110_139>
                <div class="e110_140"></div><span class="e110_141">C4</span>
            </div>
            <div class=e110_142>
                <div class="e110_143"></div><span class="e110_144">C5</span>
            </div>
            <div class=e110_145>
                <div class="e110_146"></div><span class="e110_147">C6</span>
            </div>
            <div class=e110_148>
                <div class="e110_149"></div><span class="e110_150">C10</span>
            </div>
            <div class=e110_151>
                <div class="e110_152"></div><span class="e110_153">C11</span>
            </div>
            <div class=e110_154>
                <div class="e110_155"></div><span class="e110_156">C7</span>
            </div>
            <div class=e110_157>
                <div class="e110_158"></div><span class="e110_159">C8</span>
            </div>
            <div class=e110_160>
                <div class="e110_161"></div><span class="e110_162">C9</span>
            </div>
            <div class=e110_163>
                <div class="e110_164"></div><span class="e110_165">C12</span>
            </div>
            <div class=e110_166>
                <div class="e110_167"></div><span class="e110_168">C13</span>
            </div>
            <div class=e110_169>
                <div class="e110_170"></div><span class="e110_171">C14</span>
            </div>
            <div class=e110_172>
                <div class="e110_173"></div><span class="e110_174">C15</span>
            </div>
            <div class=e110_175>
                <div class="e110_176"></div><span class="e110_177">C16</span>
            </div>
            <div class=e110_178>
                <div class="e110_179"></div><span class="e110_180">C17</span>
            </div>
            <div class=e110_181><span class="e110_182">C18</span></div>
            <div class=e110_183>
                <div class="e110_184"></div><span class="e110_185">C19</span>
            </div>
        </div>
        <div class=e110_186>
            <div class=e110_187>
                <div class="e110_188"></div><span class="e110_189">D1</span>
            </div>
            <div class=e110_190>
                <div class="e110_191"></div><span class="e110_192">D2</span>
            </div>
            <div class=e110_193>
                <div class="e110_194"></div><span class="e110_195">D3</span>
            </div>
            <div class=e110_196>
                <div class="e110_197"></div><span class="e110_198">D4</span>
            </div>
            <div class=e110_199>
                <div class="e110_200"></div><span class="e110_201">D5</span>
            </div>
            <div class=e110_202>
                <div class="e110_203"></div><span class="e110_204">D6</span>
            </div>
            <div class=e110_205>
                <div class="e110_206"></div><span class="e110_207">D10</span>
            </div>
            <div class=e110_208>
                <div class="e110_209"></div><span class="e110_210">D11</span>
            </div>
            <div class=e110_211>
                <div class="e110_212"></div><span class="e110_213">D7</span>
            </div>
            <div class=e110_214>
                <div class="e110_215"></div><span class="e110_216">D8</span>
            </div>
            <div class=e110_217>
                <div class="e110_218"></div><span class="e110_219">D9</span>
            </div>
            <div class=e110_220>
                <div class="e110_221"></div><span class="e110_222">D12</span>
            </div>
            <div class=e110_223>
                <div class="e110_224"></div><span class="e110_225">D13</span>
            </div>
            <div class=e110_226>
                <div class="e110_227"></div><span class="e110_228">D14</span>
            </div>
            <div class=e110_229>
                <div class="e110_230"></div><span class="e110_231">D15</span>
            </div>
            <div class=e110_232>
                <div class="e110_233"></div><span class="e110_234">D16</span>
            </div>
            <div class=e110_235>
                <div class="e110_236"></div><span class="e110_237">D17</span>
            </div>
            <div class=e110_238><span class="e110_239">D18</span></div>
            <div class=e110_240>
                <div class="e110_241"></div><span class="e110_242">D19</span>
            </div>
        </div>
        <div class=e110_243>
            <div class=e110_244>
                <div class="e110_245"></div><span class="e110_246">E1</span>
            </div>
            <div class=e110_247>
                <div class="e110_248"></div><span class="e110_249">E2</span>
            </div>
            <div class=e110_250>
                <div class="e110_251"></div><span class="e110_252">E3</span>
            </div>
            <div class=e110_253>
                <div class="e110_254"></div><span class="e110_255">E4</span>
            </div>
            <div class=e110_256>
                <div class="e110_257"></div><span class="e110_258">E5</span>
            </div>
            <div class=e110_259>
                <div class="e110_260"></div><span class="e110_261">E6</span>
            </div>
            <div class=e110_262>
                <div class="e110_263"></div><span class="e110_264">E10</span>
            </div>
            <div class=e110_265>
                <div class="e110_266"></div><span class="e110_267">E11</span>
            </div>
            <div class=e110_268>
                <div class="e110_269"></div><span class="e110_270">E7</span>
            </div>
            <div class=e110_271>
                <div class="e110_272"></div><span class="e110_273">E8</span>
            </div>
            <div class=e110_274>
                <div class="e110_275"></div><span class="e110_276">E9</span>
            </div>
            <div class=e110_277>
                <div class="e110_278"></div><span class="e110_279">E12</span>
            </div>
            <div class=e110_280>
                <div class="e110_281"></div><span class="e110_282">E13</span>
            </div>
            <div class=e110_283>
                <div class="e110_284"></div><span class="e110_285">E14</span>
            </div>
            <div class=e110_286>
                <div class="e110_287"></div><span class="e110_288">E15</span>
            </div>
            <div class=e110_289>
                <div class="e110_290"></div><span class="e110_291">E16</span>
            </div>
            <div class=e110_292>
                <div class="e110_293"></div><span class="e110_294">E17</span>
            </div>
            <div class=e110_295><span class="e110_296">E18</span></div>
            <div class=e110_297>
                <div class="e110_298"></div><span class="e110_299">E19</span>
            </div>
        </div>
        <div class=e110_300>
            <div class=e110_301>
                <div class="e110_302"></div><span class="e110_303">F1</span>
            </div>
            <div class=e110_304>
                <div class="e110_305"></div><span class="e110_306">F2</span>
            </div>
            <div class=e110_307>
                <div class="e110_308"></div><span class="e110_309">F3</span>
            </div>
            <div class=e110_310>
                <div class="e110_311"></div><span class="e110_312">F4</span>
            </div>
            <div class=e110_313>
                <div class="e110_314"></div><span class="e110_315">F5</span>
            </div>
            <div class=e110_316>
                <div class="e110_317"></div><span class="e110_318">F6</span>
            </div>
            <div class=e110_319>
                <div class="e110_320"></div><span class="e110_321">F10</span>
            </div>
            <div class=e110_322>
                <div class="e110_323"></div><span class="e110_324">F11</span>
            </div>
            <div class=e110_325>
                <div class="e110_326"></div><span class="e110_327">F7</span>
            </div>
            <div class=e110_328>
                <div class="e110_329"></div><span class="e110_330">F8</span>
            </div>
            <div class=e110_331>
                <div class="e110_332"></div><span class="e110_333">F9</span>
            </div>
            <div class=e110_334>
                <div class="e110_335"></div><span class="e110_336">F12</span>
            </div>
            <div class=e110_337>
                <div class="e110_338"></div><span class="e110_339">F13</span>
            </div>
            <div class=e110_340>
                <div class="e110_341"></div><span class="e110_342">F14</span>
            </div>
            <div class=e110_343>
                <div class="e110_344"></div><span class="e110_345">F15</span>
            </div>
            <div class=e110_346>
                <div class="e110_347"></div><span class="e110_348">F16</span>
            </div>
            <div class=e110_349>
                <div class="e110_350"></div><span class="e110_351">F17</span>
            </div>
            <div class=e110_352><span class="e110_353">F18</span></div>
            <div class=e110_354>
                <div class="e110_355"></div><span class="e110_356">F19</span>
            </div>
        </div>
        <div class=e110_358>
            <div class=e110_359>
                <div class="e110_360"></div><span class="e110_361">G1</span>
            </div>
            <div class=e110_362>
                <div class="e110_363"></div><span class="e110_364">G2</span>
            </div>
            <div class=e110_365>
                <div class="e110_366"></div><span class="e110_367">G3</span>
            </div>
            <div class=e110_368>
                <div class="e110_369"></div><span class="e110_370">G4</span>
            </div>
            <div class=e110_371>
                <div class="e110_372"></div><span class="e110_373">G5</span>
            </div>
            <div class=e110_374>
                <div class="e110_375"></div><span class="e110_376">G6</span>
            </div>
            <div class=e110_377>
                <div class="e110_378"></div><span class="e110_379">G10</span>
            </div>
            <div class=e110_380>
                <div class="e110_381"></div><span class="e110_382">G11</span>
            </div>
            <div class=e110_383>
                <div class="e110_384"></div><span class="e110_385">G7</span>
            </div>
            <div class=e110_386>
                <div class="e110_387"></div><span class="e110_388">G8</span>
            </div>
            <div class=e110_389>
                <div class="e110_390"></div><span class="e110_391">G9</span>
            </div>
            <div class=e110_392>
                <div class="e110_393"></div><span class="e110_394">G12</span>
            </div>
            <div class=e110_395>
                <div class="e110_396"></div><span class="e110_397">G13</span>
            </div>
            <div class=e110_398>
                <div class="e110_399"></div><span class="e110_400">G14</span>
            </div>
            <div class=e110_401>
                <div class="e110_402"></div><span class="e110_403">G15</span>
            </div>
            <div class=e110_404>
                <div class="e110_405"></div><span class="e110_406">G16</span>
            </div>
            <div class=e110_407>
                <div class="e110_408"></div><span class="e110_409">G17</span>
            </div>
            <div class=e110_410><span class="e110_411">G18</span></div>
            <div class=e110_412>
                <div class="e110_413"></div><span class="e110_414">G19</span>
            </div>
        </div>
        <div class=e115_546>
            <span class="e115_539">Đã đặt</span>
            <div class=e115_529>
                <div class="e115_530"></div>
            </div>
        </div>
        <div class=e115_545>
            <span class="e115_540">Ghế bạn chọn</span>
            <div class=e115_532>
                <div class="e115_533"></div>
            </div>
        </div>
        <div class=e115_543>
            <span class="e115_541">Ghế thường</span>
            <div class=e115_535>
                <div class="e115_536"></div>
            </div>
        </div>
        <div class=e115_544>
            <span class="e115_542">Ghế VIP</span>
            <div class=e115_537>
                <div class="e115_538"></div>
            </div>
        </div>
    </div>
</div>

