.e123_633 { 
	overflow:hidden;
}
.e123_633 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e123_634 { 
	width:1440px;
	height:80px;
	position:absolute;
	left:0px;
	top:900px;
}
/*T nè*/
.e123_635 { 
	background-color:#4995dbe0;
	width:1440px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}
.e123_636 { 
	color:rgba(0, 0, 0, 1);
	width:89px;
	height:13.314606666564941px;
	position:absolute;
	left:76px;
	top:11.539325714111328px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e123_637 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:13.314606666564941px;
	position:absolute;
	left:317px;
	top:11.539325714111328px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e123_638 { 
	color:rgba(0, 0, 0, 1);
	width:240px;
	height:13.314606666564941px;
	position:absolute;
	left:742px;
	top:11.539325714111328px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e123_639 { 
	color:rgba(0, 0, 0, 1);
	width:93px;
	height:13.314606666564941px;
	position:absolute;
	left:1142px;
	top:11.539325714111328px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e123_640 { 
	color:rgba(0, 0, 0, 1);
	width:171px;
	height:24px;
	position:absolute;
	left:634px;
	top:990px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e123_641 { 
	width:1440px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e123_642 { 
	background-color:#4995dbe0;
	width:1440px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e123_643 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:30px;
	position:absolute;
	left:650px;
	top:38px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e123_644 { 
	color:rgba(0, 0, 0, 1);
	width:137px;
	height:30px;
	position:absolute;
	left:800px;
	top:37px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e123_645 { 
	width:195px;
	height:61px;
	position:absolute;
	left:87px;
	top:19px;
}
.e123_646 { 
	width:65px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}
.e123_647 { 
	
	width:65px;
	height:53.375px;
	position:absolute;
	left:0px;
	top:3.8125px;
}
.e123_648 { 
	color:rgba(0, 0, 0, 1);
	width:116px;
	height:60px;
	position:absolute;
	left:79px;
	top:1px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e123_649 { 
	color:rgba(0, 0, 0, 1);
	width:120px;
	height:30px;
	position:absolute;
	left:500px;
	top:38px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e123_650 { 
	width:40px;
	height:40px;
	position:absolute;
	left:1182px;
	top:32px;
}
.e123_651 { 
	
	width:39.998046875px;
	height:40.005863189697266px;
	position:absolute;
	left:0px;
	top:0px;
}
.e123_652 { 
	width:100px;
	height:80.00004577636719px;
	position:absolute;
	left:1283px;
	top:10px;
	background-image:url(images/image_11.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e124_2 { 
	width:1021px;
	height:180px;
	position:absolute;
	left:214px;
	top:173px;
}
.e123_671 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:1021px;
	height:180px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e123_671 { 
	border:4px solid rgba(222.26171672344208, 198.5538312792778, 198.5538312792778, 1);
}
.e123_676 { 
	color:rgba(0, 0, 0, 1);
	width:144px;
	height:30px;
	position:absolute;
	left:149px;
	top:6px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e123_675 { 
	width:145px;
	height:145px;
	position:absolute;
	left:0px;
	top:6px;
	background-image:url(images/image_22.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e123_677 { 
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:145px;
	top:91px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e123_678 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:30px;
	position:absolute;
	left:164px;
	top:101px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e123_685 { 
	width:50px;
	height:50px;
	position:absolute;
	left:211px;
	top:91px;
}
.e123_679 { 
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e123_681 { 
	color:rgba(0, 0, 0, 1);
	width:17px;
	height:42px;
	position:absolute;
	left:17px;
	top:4px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e123_686 { 
	width:50px;
	height:50px;
	position:absolute;
	left:263px;
	top:91px;
}
.e123_680 { 
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e123_684 { 
	color:rgba(0, 0, 0, 1);
	width:24px;
	height:42px;
	position:absolute;
	left:13px;
	top:4px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e124_29 { 
	color:rgba(0, 0, 0, 1);
	width:129px;
	height:36px;
	position:absolute;
	left:821px;
	top:61px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e124_28 { 
	color:rgba(0, 0, 0, 1);
	width:389px;
	height:30px;
	position:absolute;
	left:149px;
	top:39px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e124_15 { 
	width:1021px;
	height:180px;
	position:absolute;
	left:214px;
	top:353px;
}
.e124_16 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:1021px;
	height:180px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e124_16 { 
	border:4px solid rgba(222.26171672344208, 198.5538312792778, 198.5538312792778, 1);
}
.e124_17 { 
	color:rgba(0, 0, 0, 1);
	width:125px;
	height:30px;
	position:absolute;
	left:149px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e124_18 { 
	width:145px;
	height:145px;
	position:absolute;
	left:0px;
	top:6px;
	background-image:url(images/image_22.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e124_19 { 
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:145px;
	top:91px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e124_20 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:30px;
	position:absolute;
	left:164px;
	top:101px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e124_21 { 
	width:50px;
	height:50px;
	position:absolute;
	left:211px;
	top:91px;
}
.e124_22 { 
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e124_23 { 
	color:rgba(0, 0, 0, 1);
	width:17px;
	height:42px;
	position:absolute;
	left:17px;
	top:4px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e124_24 { 
	width:50px;
	height:50px;
	position:absolute;
	left:263px;
	top:91px;
}
.e124_25 { 
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e124_26 { 
	color:rgba(0, 0, 0, 1);
	width:24px;
	height:42px;
	position:absolute;
	left:13px;
	top:4px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e124_27 { 
	color:rgba(0, 0, 0, 1);
	width:346px;
	height:30px;
	position:absolute;
	left:149px;
	top:40px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e124_30 { 
	color:rgba(0, 0, 0, 1);
	width:129px;
	height:36px;
	position:absolute;
	left:821px;
	top:59px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e125_31 { 
	width:1021px;
	height:180px;
	position:absolute;
	left:214px;
	top:533px;
}
.e125_32 { 
	background-color:rgba(245.00000059604645, 245.00000059604645, 245.00000059604645, 1);
	width:1021px;
	height:180px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e125_32 { 
	border:4px solid rgba(222.26171672344208, 198.5538312792778, 198.5538312792778, 1);
}
.e125_33 { 
	color:rgba(0, 0, 0, 1);
	width:204px;
	height:30px;
	position:absolute;
	left:149px;
	top:12px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e125_34 { 
	width:145px;
	height:145px;
	position:absolute;
	left:0px;
	top:29px;
	background-image:url(images/image_22.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e125_35 { 
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:145px;
	top:114px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e125_36 { 
	color:rgba(0, 0, 0, 1);
	width:12px;
	height:30px;
	position:absolute;
	left:164px;
	top:124px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e125_37 { 
	width:50px;
	height:50px;
	position:absolute;
	left:211px;
	top:114px;
}
.e125_38 { 
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e125_39 { 
	color:rgba(0, 0, 0, 1);
	width:17px;
	height:42px;
	position:absolute;
	left:17px;
	top:4px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e125_40 { 
	width:50px;
	height:50px;
	position:absolute;
	left:263px;
	top:114px;
}
.e125_41 { 
	background-color:rgba(255, 255, 255, 1);
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e125_42 { 
	color:rgba(0, 0, 0, 1);
	width:24px;
	height:42px;
	position:absolute;
	left:13px;
	top:4px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e125_43 { 
	color:rgba(0, 0, 0, 1);
	width:484px;
	height:30px;
	position:absolute;
	left:149px;
	top:42px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e125_44 { 
	color:rgba(0, 0, 0, 1);
	width:126px;
	height:36px;
	position:absolute;
	left:821px;
	top:82px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e125_45 { 
	color:rgba(0, 0, 0, 1);
	width:546px;
	height:30px;
	position:absolute;
	left:151px;
	top:72px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e125_48 { 
	width:344px;
	height:80px;
	position:absolute;
	left:548px;
	top:748px;
}
.e125_46 { 
	background-color:rgba(255, 6.587577788159251, 6.587577788159251, 1);
	width:344px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e125_47 { 
	color:rgba(255, 255, 255, 1);
	width:161px;
	height:36px;
	position:absolute;
	left:92px;
	top:22px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
.e125_49 { 
	color:rgba(0, 0, 0, 1);
	width:259px;
	height:36px;
	position:absolute;
	left:47px;
	top:119px;
	font-family:Inter;
	text-align:left;
	font-size:30px;
	letter-spacing:0;
}
