.e26_34 { 
	overflow:hidden;
}
.e26_34 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e31_64 { 
	width:1203px;
	height:539px;
	position:absolute;
	left:109px;
	top:165px;
}
.e31_63 { 
	background-color:rgba(66.92420527338982, 63.29914279282093, 63.29914279282093, 1);
	width:1203px;
	height:539px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:50px;
	border-top-right-radius:50px;
	border-bottom-left-radius:50px;
	border-bottom-right-radius:50px;
}
.e31_66 { 
	color:rgba(255, 255, 255, 1);
	width:80px;
	height:30px;
	position:absolute;
	left:311px;
	top:75px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e31_65 { 
	color:rgba(255, 255, 255, 1);
	width:97px;
	height:30px;
	position:absolute;
	left:91px;
	top:75px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e31_67 { 
	color:rgba(255, 255, 255, 1);
	width:102px;
	height:30px;
	position:absolute;
	left:531px;
	top:75px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e31_68 { 
	color:rgba(255, 255, 255, 1);
	width:100px;
	height:30px;
	position:absolute;
	left:751px;
	top:75px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e31_69 { 
	color:rgba(255, 255, 255, 1);
	width:109px;
	height:30px;
	position:absolute;
	left:971px;
	top:75px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e31_70 { 
	color:rgba(255, 255, 255, 1);
	width:137px;
	height:30px;
	position:absolute;
	left:971px;
	top:165px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e31_71 { 
	color:rgba(255, 255, 255, 1);
	width:129px;
	height:30px;
	position:absolute;
	left:971px;
	top:245px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e31_72 { 
	color:rgba(255, 255, 255, 1);
	width:128px;
	height:30px;
	position:absolute;
	left:321px;
	top:325px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e31_73 { 
	color:rgba(255, 255, 255, 1);
	width:88px;
	height:30px;
	position:absolute;
	left:531px;
	top:245px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e31_74 { 
	color:rgba(255, 255, 255, 1);
	width:112px;
	height:30px;
	position:absolute;
	left:751px;
	top:165px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e31_75 { 
	color:rgba(255, 255, 255, 1);
	width:122px;
	height:30px;
	position:absolute;
	left:751px;
	top:245px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e31_76 { 
	color:rgba(255, 255, 255, 1);
	width:195px;
	height:30px;
	position:absolute;
	left:531px;
	top:165px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e31_77 { 
	color:rgba(255, 255, 255, 1);
	width:95px;
	height:30px;
	position:absolute;
	left:311px;
	top:245px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e31_78 { 
	color:rgba(255, 255, 255, 1);
	width:139px;
	height:30px;
	position:absolute;
	left:311px;
	top:165px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e31_79 { 
	color:rgba(255, 255, 255, 1);
	width:121px;
	height:30px;
	position:absolute;
	left:91px;
	top:165px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e31_80 { 
	color:rgba(255, 255, 255, 1);
	width:124px;
	height:30px;
	position:absolute;
	left:91px;
	top:245px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e31_81 { 
	color:rgba(255, 255, 255, 1);
	width:115px;
	height:30px;
	position:absolute;
	left:91px;
	top:325px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e31_82 { 
	color:rgba(255, 255, 255, 1);
	width:98px;
	height:30px;
	position:absolute;
	left:531px;
	top:325px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e31_83 { 
	color:rgba(255, 255, 255, 1);
	width:102px;
	height:30px;
	position:absolute;
	left:751px;
	top:325px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e31_85 { 
	color:rgba(255, 255, 255, 1);
	width:150px;
	height:30px;
	position:absolute;
	left:91px;
	top:405px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e31_86 { 
	color:rgba(255, 255, 255, 1);
	width:130px;
	height:30px;
	position:absolute;
	left:321px;
	top:405px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e31_87 { 
	color:rgba(255, 255, 255, 1);
	width:120px;
	height:30px;
	position:absolute;
	left:531px;
	top:405px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e31_88 { 
	color:rgba(255, 255, 255, 1);
	width:130px;
	height:30px;
	position:absolute;
	left:751px;
	top:405px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e31_89 { 
	color:rgba(255, 255, 255, 1);
	width:103px;
	height:30px;
	position:absolute;
	left:971px;
	top:405px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e31_90 { 
	color:rgba(255, 255, 255, 1);
	width:101px;
	height:30px;
	position:absolute;
	left:971px;
	top:325px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e50_271 { 
	width:1440px;
	height:80px;
	position:absolute;
	left:0px;
	top:900px;
}
.e50_272 { 
	background-color:#4995dbe0;
	width:1440px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}
.e50_273 { 
	color:rgba(0, 0, 0, 1);
	width:89px;
	height:30px;
	position:absolute;
	left:76px;
	top:26px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e50_274 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:30px;
	position:absolute;
	left:317px;
	top:26px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e50_275 { 
	color:rgba(0, 0, 0, 1);
	width:240px;
	height:30px;
	position:absolute;
	left:742px;
	top:26px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e50_276 { 
	color:rgba(0, 0, 0, 1);
	width:93px;
	height:30px;
	position:absolute;
	left:1142px;
	top:26px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e50_277 { 
	color:rgba(0, 0, 0, 1);
	width:171px;
	height:24px;
	position:absolute;
	left:634px;
	top:990px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e52_215 { 
	width:1440px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e52_216 { 
	background-color:#4995dbe0;
	width:1440px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e52_217 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:30px;
	position:absolute;
	left:650px;
	top:38px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e52_218 { 
	color:rgba(0, 0, 0, 1);
	width:137px;
	height:30px;
	position:absolute;
	left:800px;
	top:37px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e52_219 { 
	color:rgba(0, 0, 0, 1);
	width:77px;
	height:30px;
	position:absolute;
	left:950px;
	top:38px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e52_220 { 
	width:195px;
	height:61px;
	position:absolute;
	left:87px;
	top:19px;
}
.e52_221 { 
	width:65px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}
.e52_222 { 
	
	width:70px;
	height:65px;
	position:absolute;
	left:0px;
	top:0px;
	
}
.e52_223 { 
	color:rgba(0, 0, 0, 1);
	width:116px;
	height:60px;
	position:absolute;
	left:79px;
	top:1px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e52_224 { 
	color:rgba(0, 0, 0, 1);
	width:120px;
	height:30px;
	position:absolute;
	left:500px;
	top:38px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e52_225 { 
	width:40px;
	height:40px;
	position:absolute;
	left:1182px;
	top:32px;
}
.e52_226 { 
	
	width:39.998046875px;
	height:40.005863189697266px;
	position:absolute;
	left:0px;
	top:-2px;
	background-image:url(img/TimKiem.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e52_227 { 
	width:100px;
	height:80.00004577636719px;
	position:absolute;
	left:640px;
	top:5px;
	background-image:url(img/account.png);
	background-repeat:no-repeat;
	background-size:cover;
}
