.e141_39 { 
	overflow:hidden;
}
.e141_39 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e141_40 { 
	width:1440px;
	height:80px;
	position:absolute;
	left:0px;
	top:900px;
}
.e141_41 { 
	background-color:rgba(73.00000324845314, 149.00000631809235, 219.0000021457672, 0.8784313797950745);
	width:1440px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}
.e141_42 { 
	color:rgba(0, 0, 0, 1);
	width:89px;
	height:17.191011428833008px;
	position:absolute;
	left:76px;
	top:14.898876190185547px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e141_43 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:17.191011428833008px;
	position:absolute;
	left:317px;
	top:14.898876190185547px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e141_44 { 
	color:rgba(0, 0, 0, 1);
	width:240px;
	height:17.191011428833008px;
	position:absolute;
	left:742px;
	top:14.898876190185547px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e141_45 { 
	color:rgba(0, 0, 0, 1);
	width:93px;
	height:17.191011428833008px;
	position:absolute;
	left:1142px;
	top:14.898876190185547px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e141_46 { 
	color:rgba(0, 0, 0, 1);
	width:171px;
	height:24px;
	position:absolute;
	left:634px;
	top:990px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e141_64 { 
	width:1440px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e141_65 { 
	background-color:rgba(73.00000324845314, 149.00000631809235, 219.0000021457672, 0.8784313797950745);
	width:1440px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e141_66 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:30px;
	position:absolute;
	left:650px;
	top:38px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e141_67 { 
	color:rgba(0, 0, 0, 1);
	width:137px;
	height:30px;
	position:absolute;
	left:800px;
	top:37px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e141_68 { 
	width:195px;
	height:61px;
	position:absolute;
	left:87px;
	top:19px;
}
.e141_69 { 
	width:65px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}
.e141_70 { 
	
	width:65px;
	height:53.375px;
	position:absolute;
	left:0px;
	top:3.8125px;
}
.e141_71 { 
	color:rgba(0, 0, 0, 1);
	width:116px;
	height:60px;
	position:absolute;
	left:79px;
	top:1px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e141_72 { 
	color:rgba(0, 0, 0, 1);
	width:120px;
	height:30px;
	position:absolute;
	left:500px;
	top:38px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e141_73 { 
	width:40px;
	height:40px;
	position:absolute;
	left:1182px;
	top:32px;
}
.e141_74 { 

	width:39.998046875px;
	height:40.005863189697266px;
	position:absolute;
	left:0px;
	top:0px;
}
.e141_75 { 
	width:100px;
	height:80.00004577636719px;
	position:absolute;
	left:1283px;
	top:10px;
	background-image:url(images/image_11.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e141_219 { 
	width:670px;
	height:61px;
	position:absolute;
	left:385px;
	top:120px;
}
.e141_84 { 
	width:70px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.e141_83 { 
	width:70px;
	height:59.01639175415039px;
	position:absolute;
	left:0px;
	top:0px;
}
.e141_77 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:70px;
	height:59.01639175415039px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e141_77 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e141_82 { 
	color:rgba(0, 0, 0, 1);
	width:22px;
	height:23.606557846069336px;
	position:absolute;
	left:24px;
	top:9.836065292358398px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e141_80 { 
	width:70px;
	height:19.672130584716797px;
	position:absolute;
	left:0px;
	top:40.3278694152832px;
}
.e141_78 { 
	background-color:rgba(255, 255, 255, 1);
	width:70px;
	height:19.672130584716797px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e141_78 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e141_79 { 
	color:rgba(0, 0, 0, 1);
	width:55px;
	height:15.73770523071289px;
	position:absolute;
	left:8px;
	top:1.9672011137008667px;
	font-family:Inter;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e141_163 { 
	width:70px;
	height:61px;
	position:absolute;
	left:200px;
	top:0px;
}
.e141_164 { 
	width:70px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.e141_165 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:70px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e141_165 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e141_166 { 
	color:rgba(0, 0, 0, 1);
	width:21px;
	height:24px;
	position:absolute;
	left:25px;
	top:10px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e141_167 { 
	width:70px;
	height:20px;
	position:absolute;
	left:0px;
	top:41px;
}
.e141_168 { 
	background-color:rgba(255, 255, 255, 1);
	width:70px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e141_168 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e141_169 { 
	color:rgba(0, 0, 0, 1);
	width:37px;
	height:16px;
	position:absolute;
	left:17px;
	top:2px;
	font-family:Inter;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e141_170 { 
	width:70px;
	height:60px;
	position:absolute;
	left:100px;
	top:0px;
}
.e141_171 { 
	width:70px;
	height:59.01639175415039px;
	position:absolute;
	left:0px;
	top:0px;
}
.e141_172 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:70px;
	height:59.01639175415039px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e141_172 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e141_173 { 
	color:rgba(0, 0, 0, 1);
	width:22px;
	height:23.606557846069336px;
	position:absolute;
	left:24px;
	top:9.836065292358398px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e141_174 { 
	width:70px;
	height:19.672130584716797px;
	position:absolute;
	left:0px;
	top:40.3278694152832px;
}
.e141_175 { 
	background-color:rgba(255, 255, 255, 1);
	width:70px;
	height:19.672130584716797px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e141_175 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e141_176 { 
	color:rgba(0, 0, 0, 1);
	width:55px;
	height:15.73770523071289px;
	position:absolute;
	left:8px;
	top:1.9672011137008667px;
	font-family:Inter;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e141_191 { 
	width:70px;
	height:61px;
	position:absolute;
	left:300px;
	top:0px;
}
.e141_192 { 
	width:70px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.e141_193 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:70px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e41_193 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e141_194 { 
	color:rgba(0, 0, 0, 1);
	width:22px;
	height:24px;
	position:absolute;
	left:24px;
	top:10px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e141_195 { 
	width:70px;
	height:20px;
	position:absolute;
	left:0px;
	top:41px;
}
.e141_196 { 
	background-color:rgba(255, 255, 255, 1);
	width:70px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e141_196 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e141_197 { 
	color:rgba(0, 0, 0, 1);
	width:36px;
	height:16px;
	position:absolute;
	left:17px;
	top:2px;
	font-family:Inter;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e141_198 { 
	width:70px;
	height:61px;
	position:absolute;
	left:400px;
	top:0px;
}
.e141_199 { 
	width:70px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.e141_200 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:70px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e141_200 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e141_201 { 
	color:rgba(0, 0, 0, 1);
	width:22px;
	height:24px;
	position:absolute;
	left:24px;
	top:10px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e141_202 { 
	width:70px;
	height:20px;
	position:absolute;
	left:0px;
	top:41px;
}
.e141_203 { 
	background-color:rgba(255, 255, 255, 1);
	width:70px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e141_203 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e141_204 { 
	color:rgba(0, 0, 0, 1);
	width:36px;
	height:16px;
	position:absolute;
	left:17px;
	top:2px;
	font-family:Inter;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e141_205 { 
	width:70px;
	height:61px;
	position:absolute;
	left:600px;
	top:0px;
}
.e141_206 { 
	width:70px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.e141_207 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:70px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e141_207 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e141_208 { 
	color:rgba(0, 0, 0, 1);
	width:22px;
	height:24px;
	position:absolute;
	left:24px;
	top:10px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e141_209 { 
	width:70px;
	height:20px;
	position:absolute;
	left:0px;
	top:41px;
}
.e141_210 { 
	background-color:rgba(255, 255, 255, 1);
	width:70px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e141_210 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e141_211 { 
	color:rgba(0, 0, 0, 1);
	width:56px;
	height:16px;
	position:absolute;
	left:7px;
	top:2px;
	font-family:Inter;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e141_212 { 
	width:70px;
	height:61px;
	position:absolute;
	left:500px;
	top:0px;
}
.e141_213 { 
	width:70px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
}
.e141_214 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:70px;
	height:60px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e141_214 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e141_215 { 
	color:rgba(0, 0, 0, 1);
	width:25px;
	height:24px;
	position:absolute;
	left:23px;
	top:10px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.e141_216 { 
	width:70px;
	height:20px;
	position:absolute;
	left:0px;
	top:41px;
}
.e141_217 { 
	background-color:rgba(255, 255, 255, 1);
	width:70px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e141_217 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e141_218 { 
	color:rgba(0, 0, 0, 1);
	width:36px;
	height:16px;
	position:absolute;
	left:17px;
	top:2px;
	font-family:Inter;
	text-align:center;
	font-size:13px;
	letter-spacing:0;
}
.e141_247 { 
	width:680px;
	height:112px;
	position:absolute;
	left:380px;
	top:220px;
}
.e141_222 { 
	width:80px;
	height:112px;
	position:absolute;
	left:0px;
	top:0px;
}
.e141_220 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e141_220 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e141_221 { 
	color:rgba(0, 0, 0, 1);
	width:50px;
	height:21px;
	position:absolute;
	left:15px;
	top:91px;
	font-family:Inter;
	text-align:center;
	font-size:17px;
	letter-spacing:0;
}
.e141_223 { 
	width:80px;
	height:112px;
	position:absolute;
	left:100px;
	top:0px;
}
.e141_224 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e141_224 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e141_225 { 
	color:rgba(0, 0, 0, 1);
	width:37px;
	height:21px;
	position:absolute;
	left:22px;
	top:91px;
	font-family:Inter;
	text-align:center;
	font-size:17px;
	letter-spacing:0;
}
.e141_226 { 
	width:80px;
	height:112px;
	position:absolute;
	left:200px;
	top:0px;
}
.e141_227 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e141_227 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e141_228 { 
	color:rgba(0, 0, 0, 1);
	width:42px;
	height:21px;
	position:absolute;
	left:19px;
	top:91px;
	font-family:Inter;
	text-align:center;
	font-size:17px;
	letter-spacing:0;
}
.e141_229 { 
	width:80px;
	height:112px;
	position:absolute;
	left:300px;
	top:0px;
}
.e141_230 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e141_230 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e141_231 { 
	color:rgba(0, 0, 0, 1);
	width:74px;
	height:21px;
	position:absolute;
	left:3px;
	top:91px;
	font-family:Inter;
	text-align:center;
	font-size:17px;
	letter-spacing:0;
}
.e143_57 { 
	width:80px;
	height:60px;
	position:absolute;
	left:0px;
	top:10px;
	background-image:url(images/bhd_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e141_238 { 
	width:80px;
	height:112px;
	position:absolute;
	left:400px;
	top:0px;
}
.e141_239 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e141_239 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e141_240 { 
	color:rgba(0, 0, 0, 1);
	width:68px;
	height:21px;
	position:absolute;
	left:6px;
	top:91px;
	font-family:Inter;
	text-align:center;
	font-size:17px;
	letter-spacing:0;
}
.e141_241 { 
	width:80px;
	height:112px;
	position:absolute;
	left:500px;
	top:0px;
}
.e141_242 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e141_242 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e141_243 { 
	color:rgba(0, 0, 0, 1);
	width:76px;
	height:21px;
	position:absolute;
	left:2px;
	top:91px;
	font-family:Inter;
	text-align:center;
	font-size:17px;
	letter-spacing:0;
}
.e141_244 { 
	width:80px;
	height:112px;
	position:absolute;
	left:600px;
	top:0px;
}
.e141_245 { 
	background-color:rgba(255, 255, 255, 1);
	width:80px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e141_245 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e141_246 { 
	color:rgba(0, 0, 0, 1);
	width:55px;
	height:21px;
	position:absolute;
	left:13px;
	top:91px;
	font-family:Inter;
	text-align:center;
	font-size:17px;
	letter-spacing:0;
}
.e143_21 { 
	width:1284px;
	height:100px;
	position:absolute;
	left:32px;
	top:495px;
}
.e143_17 { 
	background-color:rgba(255, 255, 255, 1);
	width:1282px;
	height:100px;
	position:absolute;
	left:2px;
	top:0px;
}
.e143_17 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e143_19 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:30px;
	position:absolute;
	left:148px;
	top:11px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e143_20 { 
	color:rgba(134.92420881986618, 131.21379911899567, 131.21379911899567, 1);
	width:527px;
	height:30px;
	position:absolute;
	left:148px;
	top:41px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e144_68 { 
	width:157.7872314453125px;
	height:90px;
	position:absolute;
	left:0px;
	top:9px;
	background-image:url(images/cinestar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e143_22 { 
	width:1282px;
	height:100px;
	position:absolute;
	left:34px;
	top:594px;
}
.e143_23 { 
	background-color:rgba(255, 255, 255, 1);
	width:1282px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e143_23 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e144_65 { 
	width:100px;
	height:100px;
	position:absolute;
	left:19px;
	top:0px;
	background-image:url(images/cgv_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e143_25 { 
	color:rgba(0, 0, 0, 1);
	width:278px;
	height:30px;
	position:absolute;
	left:146px;
	top:11px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e143_26 { 
	color:rgba(134.92420881986618, 131.21379911899567, 131.21379911899567, 1);
	width:810px;
	height:30px;
	position:absolute;
	left:146px;
	top:41px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e143_27 { 
	width:1282px;
	height:100px;
	position:absolute;
	left:34px;
	top:694px;
}
.e143_28 { 
	background-color:rgba(255, 255, 255, 1);
	width:1282px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e143_28 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e144_66 { 
	width:100px;
	height:100px;
	position:absolute;
	left:19px;
	top:0px;
	background-image:url(images/lotte_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e143_30 { 
	color:rgba(0, 0, 0, 1);
	width:180px;
	height:30px;
	position:absolute;
	left:146px;
	top:11px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e143_31 { 
	color:rgba(134.92420881986618, 131.21379911899567, 131.21379911899567, 1);
	width:862px;
	height:30px;
	position:absolute;
	left:146px;
	top:41px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e143_32 { 
	width:1282px;
	height:145px;
	position:absolute;
	left:34px;
	top:350px;
}
.e143_33 { 
	background-color:rgba(255, 255, 255, 1);
	width:1282px;
	height:140px;
	position:absolute;
	left:0px;
	top:5px;
}
.e143_33 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e143_34 { 
	width:95.23809051513672px;
	height:100px;
	position:absolute;
	left:19px;
	top:0px;
	background-image:url(images/bhd_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e143_35 { 
	color:rgba(0, 0, 0, 1);
	width:249px;
	height:42px;
	position:absolute;
	left:146px;
	top:20px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e143_36 { 
	color:rgba(134.92420881986618, 131.21379911899567, 131.21379911899567, 1);
	width:992px;
	height:42px;
	position:absolute;
	left:146px;
	top:50px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e143_37 { 
	width:1282px;
	height:100px;
	position:absolute;
	left:34px;
	top:794px;
}
.e143_38 { 
	background-color:rgba(255, 255, 255, 1);
	width:1282px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e143_38 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e143_40 { 
	color:rgba(0, 0, 0, 1);
	width:248px;
	height:30px;
	position:absolute;
	left:146px;
	top:11px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e143_41 { 
	color:rgba(134.92420881986618, 131.21379911899567, 131.21379911899567, 1);
	width:1079px;
	height:30px;
	position:absolute;
	left:146px;
	top:41px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e144_67 { 
	width:100px;
	height:100px;
	position:absolute;
	left:19px;
	top:0px;
	background-image:url(images/megags_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e143_44 { 
	width:165px;
	height:41px;
	position:absolute;
	left:190px;
	top:442px;
}
.e143_42 { 
	background-color:rgba(255, 255, 255, 1);
	width:165px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e143_42 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e143_43 { 
	color:rgba(0, 0, 0, 1);
	width:142px;
	height:30px;
	position:absolute;
	left:12px;
	top:6px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e143_45 { 
	width:165px;
	height:41px;
	position:absolute;
	left:390px;
	top:442px;
}
.e143_46 { 
	background-color:rgba(255, 255, 255, 1);
	width:165px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e143_46 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e143_47 { 
	color:rgba(0, 0, 0, 1);
	width:142px;
	height:30px;
	position:absolute;
	left:12px;
	top:6px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e143_48 { 
	width:165px;
	height:41px;
	position:absolute;
	left:590px;
	top:442px;
}
.e143_49 { 
	background-color:rgba(255, 255, 255, 1);
	width:165px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e143_49 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e143_50 { 
	color:rgba(0, 0, 0, 1);
	width:142px;
	height:30px;
	position:absolute;
	left:12px;
	top:6px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e143_51 { 
	width:165px;
	height:41px;
	position:absolute;
	left:790px;
	top:442px;
}
.e143_52 { 
	background-color:rgba(255, 255, 255, 1);
	width:165px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e143_52 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e143_53 { 
	color:rgba(0, 0, 0, 1);
	width:142px;
	height:30px;
	position:absolute;
	left:12px;
	top:6px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e143_58 { 
	width:80px;
	height:80px;
	position:absolute;
	left:479px;
	top:220px;
	background-image:url(images/cgv_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e143_59 { 
	width:80px;
	height:80px;
	position:absolute;
	left:980px;
	top:220px;
	background-image:url(images/galaxy_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e143_60 { 
	width:80px;
	height:45.631072998046875px;
	position:absolute;
	left:780px;
	top:237px;
	background-image:url(images/cinestar_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e143_61 { 
	width:80px;
	height:80px;
	position:absolute;
	left:880px;
	top:220px;
	background-image:url(images/megags_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e143_62 { 
	width:80px;
	height:80px;
	position:absolute;
	left:579px;
	top:222px;
	background-image:url(images/lotte_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e145_71 { 
	width:80px;
	height:80px;
	position:absolute;
	left:379px;
	top:220px;
	background-image:url(images/image_23.png);
	background-repeat:no-repeat;
	background-size:cover;
}
