.e107_8 { 
	overflow:hidden;
}
.e107_8 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e107_9 { 
	width:1440px;
	height:80px;
	position:absolute;
	left:0px;
	top:900px;
}
.e107_10 { 
	background-color:#4995dbe0;
	width:1440px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}
.e107_11 { 
	color:rgba(0, 0, 0, 1);
	width:89px;
	height:30px;
	position:absolute;
	left:76px;
	top:26px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e107_12 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:30px;
	position:absolute;
	left:317px;
	top:26px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e107_13 { 
	color:rgba(0, 0, 0, 1);
	width:240px;
	height:30px;
	position:absolute;
	left:742px;
	top:26px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e107_14 { 
	color:rgba(0, 0, 0, 1);
	width:93px;
	height:30px;
	position:absolute;
	left:1142px;
	top:26px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e107_15 { 
	color:rgba(0, 0, 0, 1);
	width:171px;
	height:24px;
	position:absolute;
	left:634px;
	top:990px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e107_16 { 
	width:1440px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e107_17 { 
	background-color:#4995dbe0;
	width:1440px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e107_18 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:30px;
	position:absolute;
	left:650px;
	top:38px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e107_19 { 
	color:rgba(0, 0, 0, 1);
	width:137px;
	height:30px;
	position:absolute;
	left:800px;
	top:37px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e107_21 { 
	width:195px;
	height:61px;
	position:absolute;
	left:87px;
	top:19px;
}
.e107_22 { 
	width:65px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}
.e107_23 { 

	width:65px;
	height:53.375px;
	position:absolute;
	left:0px;
	top:3.8125px;
}
.e107_24 { 
	color:rgba(0, 0, 0, 1);
	width:116px;
	height:60px;
	position:absolute;
	left:79px;
	top:1px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e107_25 { 
	color:rgba(0, 0, 0, 1);
	width:120px;
	height:30px;
	position:absolute;
	left:500px;
	top:38px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e107_26 { 
	width:40px;
	height:40px;
	position:absolute;
	left:1182px;
	top:32px;
}
.e107_27 { 

	width:39.998046875px;
	height:40.005863189697266px;
	position:absolute;
	left:0px;
	top:0px;
}
.e107_28 { 
	width:100px;
	height:80.00004577636719px;
	position:absolute;
	left:1283px;
	top:10px;
	background-image:url(images/image_11.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e107_50 { 
	color:rgba(0, 0, 0, 1);
	width:220px;
	height:48px;
	position:absolute;
	left:610px;
	top:132px;
	font-family:Inter;
	text-align:center;
	font-size:40px;
	letter-spacing:0;
}
.e108_58 { 
	width:394px;
	height:259px;
	position:absolute;
	left:54px;
	top:212px;
}
.e107_52 { 
	width:394px;
	height:198px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_17.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e107_53 { 
	color:rgba(0, 0, 0, 1);
	width:274px;
	height:30px;
	position:absolute;
	left:79px;
	top:219px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e108_57 { 
	width:50px;
	height:50px;
	position:absolute;
	left:8px;
	top:100px;
	background-image:url(images/image_18.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e108_67 { 
	width:394px;
	height:259px;
	position:absolute;
	left:523px;
	top:212px;
}
.e108_68 { 
	width:394px;
	height:198px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_17.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e108_69 { 
	color:rgba(0, 0, 0, 1);
	width:274px;
	height:30px;
	position:absolute;
	left:79px;
	top:219px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e108_70 { 
	width:50px;
	height:50px;
	position:absolute;
	left:8px;
	top:100px;
	background-image:url(images/image_18.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e108_71 { 
	width:394px;
	height:259px;
	position:absolute;
	left:989px;
	top:212px;
}
.e108_72 { 
	width:394px;
	height:198px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_17.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e108_73 { 
	color:rgba(0, 0, 0, 1);
	width:274px;
	height:30px;
	position:absolute;
	left:79px;
	top:219px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e108_74 { 
	width:50px;
	height:50px;
	position:absolute;
	left:8px;
	top:100px;
	background-image:url(img/iconLich.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e108_75 { 
	width:394px;
	height:259px;
	position:absolute;
	left:55px;
	top:512px;
}
.e108_76 { 
	width:394px;
	height:198px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_17.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e108_77 { 
	color:rgba(0, 0, 0, 1);
	width:274px;
	height:30px;
	position:absolute;
	left:79px;
	top:219px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e108_78 { 
	width:50px;
	height:50px;
	position:absolute;
	left:8px;
	top:100px;
	background-image:url(images/image_18.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e108_79 { 
	width:394px;
	height:259px;
	position:absolute;
	left:524px;
	top:512px;
}
.e108_80 { 
	width:394px;
	height:198px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_17.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e108_81 { 
	color:rgba(0, 0, 0, 1);
	width:274px;
	height:30px;
	position:absolute;
	left:79px;
	top:219px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e108_82 { 
	width:50px;
	height:50px;
	position:absolute;
	left:8px;
	top:100px;
	background-image:url(images/image_18.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e108_83 { 
	width:394px;
	height:259px;
	position:absolute;
	left:990px;
	top:512px;
}
.e108_84 { 
	width:394px;
	height:198px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/image_17.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e108_85 { 
	color:rgba(0, 0, 0, 1);
	width:274px;
	height:30px;
	position:absolute;
	left:79px;
	top:219px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e108_86 { 
	width:50px;
	height:50px;
	position:absolute;
	left:8px;
	top:100px;
	background-image:url(images/image_18.png);
	background-repeat:no-repeat;
	background-size:cover;
}
