.e40_153 { 
	overflow:hidden;
}
.e40_153 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e40_175 { 
	color:rgba(0, 0, 0, 1);
	width:252px;
	height:47px;
	position:absolute;
	left:65px;
	top:153px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e40_176 { 
	color:rgba(0, 0, 0, 1);
	width:838px;
	height:42px;
	position:absolute;
	left:65px;
	top:179px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e40_177 { 
	width:350px;
	height:557px;
	position:absolute;
	left:49px;
	top:249px;
	background-image:url(images/phimpanda_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e40_179 { 
	color:rgba(0, 0, 0, 1);
	width:274px;
	height:30px;
	position:absolute;
	left:435px;
	top:330px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e40_180 { 
	color:rgba(0, 0, 0, 1);
	width:757px;
	height:30px;
	position:absolute;
	left:435px;
	top:370px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e40_181 { 
	color:rgba(0, 0, 0, 1);
	width:232px;
	height:30px;
	position:absolute;
	left:435px;
	top:490px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e40_182 { 
	color:rgba(0, 0, 0, 1);
	width:279px;
	height:30px;
	position:absolute;
	left:435px;
	top:450px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e40_183 { 
	color:rgba(0, 0, 0, 1);
	width:624px;
	height:30px;
	position:absolute;
	left:435px;
	top:530px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e40_184 { 
	color:rgba(0, 0, 0, 1);
	width:885px;
	height:30px;
	position:absolute;
	left:435px;
	top:570px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e40_185 { 
	color:rgba(0, 0, 0, 1);
	width:280px;
	height:42px;
	position:absolute;
	left:415px;
	top:246px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e142_4 { 
	width:129px;
	height:42px;
	position:absolute;
	left:435px;
	top:639px;
}
.e40_189 { 
	background-color:rgba(255, 6.587577788159251, 6.587577788159251, 1);
	width:129px;
	height:42px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.e40_190 { 
	color:rgba(255, 255, 255, 1);
	width:123px;
	height:36px;
	position:absolute;
	left:0px;
	top:5px;
	font-family:Inter;
	text-align:center;
	font-size:25px;
	letter-spacing:0;
}
.e40_192 { 
	color:rgba(0, 0, 0, 1);
	width:278px;
	height:30px;
	position:absolute;
	left:435px;
	top:410px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e50_291 { 
	width:1440px;
	height:80px;
	position:absolute;
	left:0px;
	top:900px;
}
.e50_292 { 
	background-color:#4995dbe0;
	width:1440px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}
.e50_293 { 
	color:rgba(0, 0, 0, 1);
	width:89px;
	height:13.483146667480469px;
	position:absolute;
	left:76px;
	top:11.685354232788086px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e50_294 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:13.483146667480469px;
	position:absolute;
	left:317px;
	top:11.685354232788086px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e50_295 { 
	color:rgba(0, 0, 0, 1);
	width:240px;
	height:13.483146667480469px;
	position:absolute;
	left:742px;
	top:11.685354232788086px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e50_296 { 
	color:rgba(0, 0, 0, 1);
	width:93px;
	height:13.483146667480469px;
	position:absolute;
	left:1142px;
	top:11.685354232788086px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e50_297 { 
	color:rgba(0, 0, 0, 1);
	width:171px;
	height:24px;
	position:absolute;
	left:634px;
	top:990px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e52_241 { 
	width:1440px;
	height:100px;
	position:absolute;
	left:0px;
	top:-2px;
}
.e52_242 { 
	background-color:#4995dbe0;
	width:1440px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e52_243 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:30px;
	position:absolute;
	left:650px;
	top:38px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e52_244 { 
	color:rgba(0, 0, 0, 1);
	width:137px;
	height:30px;
	position:absolute;
	left:800px;
	top:37px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e52_246 { 
	width:195px;
	height:61px;
	position:absolute;
	left:87px;
	top:19px;
}
.e52_247 { 
	width:65px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}
.e52_248 { 
	
	width:65px;
	height:53.375px;
	position:absolute;
	left:0px;
	top:3.8125px;
}
.e52_249 { 
	color:rgba(0, 0, 0, 1);
	width:116px;
	height:60px;
	position:absolute;
	left:79px;
	top:1px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e52_250 { 
	color:rgba(0, 0, 0, 1);
	width:120px;
	height:30px;
	position:absolute;
	left:500px;
	top:38px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e52_251 { 
	width:40px;
	height:40px;
	position:absolute;
	left:1182px;
	top:32px;
}
.e52_252 { 

	width:39.998046875px;
	height:40.005863189697266px;
	position:absolute;
	left:0px;
	top:0px;
}
.e52_253 { 
	width:100px;
	height:80.00004577636719px;
	position:absolute;
	left:1283px;
	top:10px;
	background-image:url(images/image_11.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e142_14 { 
	width:294px;
	height:40px;
	position:absolute;
	left:435px;
	top:715px;
}
.e142_6 { 
	width:41.95744705200195px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/icon___nh_gi__1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e142_7 { 
	width:41.95744705200195px;
	height:40px;
	position:absolute;
	left:45px;
	top:0px;
	background-image:url(images/icon___nh_gi__2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e142_8 { 
	width:41.95744705200195px;
	height:40px;
	position:absolute;
	left:90px;
	top:0px;
	background-image:url(images/icon___nh_gi__3.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e142_9 { 
	width:41.95744705200195px;
	height:40px;
	position:absolute;
	left:135px;
	top:0px;
	background-image:url(images/icon___nh_gi__4.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e142_10 { 
	width:41.95744705200195px;
	height:40px;
	position:absolute;
	left:180px;
	top:0px;
	background-image:url(images/icon___nh_gi__5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e142_12 { 
	color:rgba(0, 0, 0, 1);
	width:58px;
	height:30px;
	position:absolute;
	left:236px;
	top:5px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e142_15 { 
	width:165px;
	height:30px;
	position:absolute;
	left:435px;
	top:782px;
}
.e142_11 { 
	color:rgba(0, 0, 0, 1);
	width:108px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e142_13 { 
	color:rgba(0, 0, 0, 1);
	width:49px;
	height:30px;
	position:absolute;
	left:116px;
	top:0px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
