.e107_29 { 
	overflow:hidden;
}
.e107_29 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e107_30 { 
	width:1440px;
	height:80px;
	position:absolute;
	left:0px;
	top:907px;
}
.e107_31 { 
	background-color:#4995dbe0;
	width:1440px;
	height:80px;
	position:absolute;
	left:0px;
	top:0px;
}
.e107_32 { 
	color:rgba(0, 0, 0, 1);
	width:89px;
	height:13.314606666564941px;
	position:absolute;
	left:76px;
	top:11.539325714111328px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e107_33 { 
	color:rgba(0, 0, 0, 1);
	width:262px;
	height:13.314606666564941px;
	position:absolute;
	left:317px;
	top:11.539325714111328px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e107_34 { 
	color:rgba(0, 0, 0, 1);
	width:240px;
	height:13.314606666564941px;
	position:absolute;
	left:742px;
	top:11.539325714111328px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e107_35 { 
	color:rgba(0, 0, 0, 1);
	width:93px;
	height:13.314606666564941px;
	position:absolute;
	left:1142px;
	top:11.539325714111328px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e107_36 { 
	color:rgba(0, 0, 0, 1);
	width:171px;
	height:24px;
	position:absolute;
	left:634px;
	top:990px;
	font-family:Inter;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.e107_37 { 
	width:1440px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e107_38 { 
	background-color:#4995dbe0;
	width:1440px;
	height:100px;
	position:absolute;
	left:0px;
	top:0px;
}
.e107_39 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:30px;
	position:absolute;
	left:650px;
	top:38px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e107_40 { 
	color:rgba(0, 0, 0, 1);
	width:137px;
	height:30px;
	position:absolute;
	left:800px;
	top:37px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e107_42 { 
	width:195px;
	height:61px;
	position:absolute;
	left:87px;
	top:19px;
}
.e107_43 { 
	width:65px;
	height:61px;
	position:absolute;
	left:0px;
	top:0px;
}
.e107_44 { 
	
	width:65px;
	height:53.375px;
	position:absolute;
	left:0px;
	top:3.8125px;
}
.e107_45 { 
	color:rgba(0, 0, 0, 1);
	width:116px;
	height:60px;
	position:absolute;
	left:79px;
	top:1px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e107_46 { 
	color:rgba(0, 0, 0, 1);
	width:120px;
	height:30px;
	position:absolute;
	left:500px;
	top:38px;
	font-family:Inter;
	text-align:left;
	font-size:25px;
	letter-spacing:0;
}
.e107_47 { 
	width:40px;
	height:40px;
	position:absolute;
	left:1182px;
	top:32px;
}
.e107_48 { 
	
	width:39.998046875px;
	height:40.005863189697266px;
	position:absolute;
	left:0px;
	top:0px;
}
.e107_49 { 
	width:100px;
	height:80.00004577636719px;
	position:absolute;
	left:1283px;
	top:10px;
	background-image:url(images/image_11.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e117_548 { 
	width:289px;
	height:423px;
	position:absolute;
	left:52px;
	top:183px;
	background-image:url(images/phimpanda_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e117_549 { 
	color:rgba(0, 0, 0, 1);
	width:215px;
	height:48px;
	position:absolute;
	left:126px;
	top:107px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e117_550 { 
	color:rgba(0, 0, 0, 1);
	width:39px;
	height:48px;
	position:absolute;
	left:87px;
	top:107px;
	font-family:Inter;
	text-align:left;
	font-size:40px;
	letter-spacing:0;
}
.e117_552 { 
	color:rgba(0, 0, 0, 1);
	width:280px;
	height:42px;
	position:absolute;
	left:390px;
	top:186px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e118_553 { 
	color:rgba(0, 0, 0, 1);
	width:488px;
	height:42px;
	position:absolute;
	left:390px;
	top:240px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e118_554 { 
	color:rgba(0, 0, 0, 1);
	width:205px;
	height:42px;
	position:absolute;
	left:390px;
	top:300px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e118_555 { 
	color:rgba(0, 0, 0, 1);
	width:322px;
	height:42px;
	position:absolute;
	left:390px;
	top:348px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e118_556 { 
	color:rgba(0, 0, 0, 1);
	width:158px;
	height:42px;
	position:absolute;
	left:390px;
	top:396px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e118_557 { 
	color:rgba(0, 0, 0, 1);
	width:130px;
	height:42px;
	position:absolute;
	left:390px;
	top:446px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e118_558 { 
	color:rgba(0, 0, 0, 1);
	width:266px;
	height:42px;
	position:absolute;
	left:390px;
	top:504px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e118_559 { 
	color:rgba(0, 0, 0, 1);
	width:364px;
	height:42px;
	position:absolute;
	left:390px;
	top:564px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e119_560 { 
	background-color:rgba(217.0000022649765, 217.0000022649765, 217.0000022649765, 1);
	width:1361px;
	height:60px;
	position:absolute;
	left:23px;
	top:638px;
}
.e119_562 { 
	color:rgba(0, 0, 0, 1);
	width:188px;
	height:42px;
	position:absolute;
	left:626px;
	top:647px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e119_563 { 
	border:1px solid rgba(0, 0, 0, 1);
}
.e119_563 { 
	width:1359px;
	height:117px;
	position:absolute;
	left:25px;
	top:697px;
}
.e119_566 { 
	color:rgba(0, 0, 0, 1);
	width:111px;
	height:42px;
	position:absolute;
	left:178px;
	top:736px;
	font-family:Inter;
	text-align:left;
	font-size:35px;
	letter-spacing:0;
}
.e119_570 { 
	width:86px;
	height:85px;
	position:absolute;
	left:50px;
	top:711px;
	background-image:url(images/image_19.png);
	background-repeat:no-repeat;
	background-size:cover;
}
