
@{
    ViewBag.Title = "ChonViTri";
    Layout = "~/Views/Layout/_DungChungLayout.cshtml";
    <link rel="stylesheet" href="~/Content/Css/ChonViTri.css" />
}

<div class=e26_34>
    <div class=e31_64>
        <div class="e31_63"></div>
        <span class="e31_66">Hà Nội</span><span class="e31_65">TP.HCM</span><span class="e31_67">Đà Nẵng</span>
        <span class="e31_68">Cần Thơ</span><span class="e31_69">Đồng Nai</span><span class="e31_70">Bình Dương</span>
        <span class="e31_71">Kiên Giang</span><span class="e31_72">Tiền Giang</span><span class="e31_73">Yên Bái</span>
        <span class="e31_74">Bình Định</span><span class="e31_75">Vĩnh Long</span><span class="e31_76">Bà Rịa-Vũng Tàu</span>
        <span class="e31_77">Hà Tĩnh</span><span class="e31_78">Quảng Ninh</span><span class="e31_79">Hải Phòng</span>
        <span class="e31_80">Hậu Giang</span><span class="e31_81">Hưng Yên</span><span class="e31_82">Trà Vinh</span>
        <span class="e31_83">Nghệ An</span><span class="e31_85">Thái Nguyên</span><span class="e31_86">Khánh Hòa</span>
        <span class="e31_87">Sóc Trăng</span><span class="e31_88">Đồng Tháp</span><span class="e31_89">Tây Ninh</span>
        <span class="e31_90">Bạc Liêu</span>
    </div>
   
</div>

