
@{
    ViewBag.Title = "ChonDiaChiRap";
    Layout = "~/Views/Layout/_DungChungLayout.cshtml";
    <link rel="stylesheet" href="~/Content/Css/ChonDiaChiRap.css" />
}

<div class=e141_39>
    <div class=e141_219>
        <div class=e141_84>
            <div class=e141_83>
                <div class="e141_77"></div><span class="e141_82">15</span>
            </div>
            <div class=e141_80>
                <div class="e141_78"></div><span class="e141_79">Thứ 2</span>
            </div>
        </div>
        <div class=e141_163>
            <div class=e141_164>
                <div class="e141_165"></div><span class="e141_166">17</span>
            </div>
            <div class=e141_167>
                <div class="e141_168"></div><span class="e141_169">Thứ 4</span>
            </div>
        </div>
        <div class=e141_170>
            <div class=e141_171>
                <div class="e141_172"></div><span class="e141_173">16</span>
            </div>
            <div class=e141_174>
                <div class="e141_175"></div><span class="e141_176">Thứ 3</span>
            </div>
        </div>
        <div class=e141_191>
            <div class=e141_192>
                <div class="e141_193"></div><span class="e141_194">18</span>
            </div>
            <div class=e141_195>
                <div class="e141_196"></div><span class="e141_197">Thứ 5</span>
            </div>
        </div>
        <div class=e141_198>
            <div class=e141_199>
                <div class="e141_200"></div><span class="e141_201">19</span>
            </div>
            <div class=e141_202>
                <div class="e141_203"></div><span class="e141_204">Thứ 6</span>
            </div>
        </div>
        <div class=e141_205>
            <div class=e141_206>
                <div class="e141_207"></div><span class="e141_208">21</span>
            </div>
            <div class=e141_209>
                <div class="e141_210"></div><span class="e141_211">Chủ nhật</span>
            </div>
        </div>
        <div class=e141_212>
            <div class=e141_213>
                <div class="e141_214"></div><span class="e141_215">20</span>
            </div>
            <div class=e141_216>
                <div class="e141_217"></div><span class="e141_218">Thứ 7</span>
            </div>
        </div>
    </div>
    <div class=e141_247>
        <div class=e141_222>
            <div><img class="e141_220" src="~/img/IconSaoTatCa.png"></div><span class="e141_221">Tất cả</span>
        </div>
        <div class=e141_223>
            <div><img class="e141_224" src="~/img/cgv.png"></div><span class="e141_225">CGV</span>
        </div>
        <div class=e141_226>
            <div><img class="e141_227" src="~/img/lotte.png"></div><span class="e141_228">Lotte</span>
        </div>
        <div class=e141_229>
            <div><img class="e141_230" src="~/img/BHD.png"></div><span class="e141_231">BHD Star</span>
            <div class="e143_57"></div>
        </div>
        <div class=e141_238>
            <div><img class="e141_239" src="~/img/Cinestar.png"></div><span class="e141_240">Cinestar</span>
        </div>
        <div class=e141_241>
            <div><img class="e141_242" src="~/img/MegaGS.png"></div><span class="e141_243">Mega MS</span>
        </div>
        <div class=e141_244>
            <div><img class="e141_245" src="~/img/galaxy.png"></div><span class="e141_246">Galaxy</span>
        </div>
    </div>
    <div class=e143_21>
        <div class="e143_17"></div><span class="e143_19">CineStar Hai Bà Trưng</span><span class="e143_20">135 Hai Bà Trưng, P. Bến Nghé, Q.1, TP. HCM</span>
        <div><img class="e144_68" src="~/img/Cinestar.png"></div>
    </div>
    <div class=e143_22>
        <div class="e143_23"></div>
        <div><img class="e144_65" src="~/img/cgv.png"></div><span class="e143_25">CGV Hùng Vương Plaza</span><span class="e143_26">Tầng 7 | Hùng Vương Plaza 126 Hùng Vương Quận 5 Tp. Hồ Chí Minh</span>
    </div>
    <div class=e143_27>
        <div class="e143_28"></div>
        <div><img class="e144_66" src="~/img/lotte.png"></div><span class="e143_30">Lotte Nowzone</span><span class="e143_31">Tầng 5, TTTM Nowzone, 235 Nguyễn Văn Cừ, P.Nguyễn Cư Trinh, Quận 1</span>
    </div>
    <div class=e143_32>
        <div class="e143_33"></div>
        <div><img class="e143_34" src="~/img/BHD.png"></div><span class="e143_35">BHD Star Lê Văn Việt</span><span class="e143_36">Vincom Plaza Lê Văn Việt, số 50 đường Lê Văn Việt, Quận 9, Thành phố Hồ Chí Minh</span>
    </div>
    <div class=e143_37>
        <div class="e143_38"></div><span class="e143_40">Mega MS Cao Thắng</span><span class="e143_41">Tầng 6, 7 | Sài Gòn Mall, số 19 đường Cao Thắng, phường 2, quận 3, thành phố Hồ Chí Minh</span>
        <div><img class="e144_67" src="~/img/MegaGS.png"></div>
    </div>
    <div class=e143_44>
        <div class="e143_42"></div><span class="e143_43">9:00 ~ 11:15</span>
    </div>
    <div class=e143_45>
        <div class="e143_46"></div><span class="e143_47">9:00 ~ 11:15</span>
    </div>
    <div class=e143_48>
        <div class="e143_49"></div><span class="e143_50">9:00 ~ 11:15</span>
    </div>
    <div class=e143_51>
        <div class="e143_52"></div><span class="e143_53">9:00 ~ 11:15</span>
    </div>
    <div class="e143_58"></div>
    <div class="e143_59"></div>
    <div class="e143_60"></div>
    <div class="e143_61"></div>
    <div class="e143_62"></div>
    <div class="e145_71"></div>
</div>

