
@{
    ViewBag.Title = "RapPhim";
    Layout = "~/Views/Layout/_DungChungLayout.cshtml";
    <link rel="stylesheet" href="~/Content/Css/RapPhim.css" />
}

<div class=e10_157>
    <div class="e40_131"></div>
    <div class=e40_132>
        <span class="e40_133">CGV Cinema</span>
        <div class="e40_134"><img class="e40_134" src="~/img/cgv.png"></div>
    </div>
    <div class=e40_135>
        <span class="e40_136">Lotte Cinema</span>
        <div class="e40_137"><img class="e40_137" src="~/img/lotte.png"></div>
    </div>
    <div class=e40_138>
        <span class="e40_139">BHD Star Cineplex</span>
        <div class="e40_140"><img class="e40_140" src="~/img/BHD.png"></div>
    </div>
    <div class=e40_141>
        <span class="e40_142">Galaxy Cinema</span>
        <div class="e40_143"><img class="e40_143" src="~/img/galaxy.png"></div>
    </div>
    <div class=e40_144>
        <span class="e40_145">Cinestar</span>
        <div class="e40_146"><img class="e40_146" src="~/img/Cinestar.png"></div>
    </div>
    <div class=e40_147>
        <span class="e40_148">MegaGS</span>
        <div class="e40_149"><img class="e40_149" src="~/img/MegaGS.png"></div>
    </div><span class="e40_150">Rạp chiếu phim</span>
  
</div>
