
@{
    ViewBag.Title = "LichChieu";
    Layout = "~/Views/Layout/_DungChungLayout.cshtml";
    <link rel="stylesheet" href="~/Content/Css/LichChieu.css" />

}
<div class=e6_37>
    <div><img class="IconBack" src="~/img/icon home.png"></div><span class="Back">> Lịch chiếu phim</span>
    <div class="e10_138"> </div>
    <div class=e10_145>
        <span class="e10_141">Hài hước, vui nhộn</span>
        <div class="e10_139"><img class="e10_139" src="~/img/phimpanda_1.png"></div><span class="e10_140">Panda 4</span>
        <div class="e10_142"></div>
    </div>
    <span class="e10_143">09:00 ~ 11:15</span><span class="e10_151">09:00 ~ 11:15</span><span class="e10_152">09:00 ~ 11:15</span><span class="e10_153">09:00 ~ 11:15</span><span class="e10_154">09:00 ~ 11:15</span><span class="e10_155">09:00 ~ 11:15</span><span class="e10_156">09:00 ~ 11:15</span>
    <div class=e10_146>
        <span class="e10_147">Hài hước, vui nhộn</span>
        <div class="e10_148"><img class="e10_148" src="~/img/phimpanda_1.png"></div><span class="e10_149">Panda 4</span>
        <div class="e10_150"></div>
    </div><span class="e10_157">09:00 ~ 11:15</span>
    <div class=e36_99>
        <a href="ChonViTri.html"><span class="e9_136">Chọn vị trí</span></a>
        <div class="e36_98"><a href="ChonViTri.html"><img class="e36_98" src="~/img/ChonViTri.png"></a></div>
    </div>
    <div class=e40_103>
        <a href="RapPhim.html"><span class="e9_137">Chọn rạp</span></a>
        <div class="e40_102"><a href="RapPhim.html"><img class="e40_102" src="~/img/ChonRap.png"></a></div>
    </div>

</div>
