
@{
    ViewBag.Title = "NoiDungPhim";
    Layout = "~/Views/Layout/_DungChungLayout.cshtml";
    <link rel="stylesheet" href="~/Content/Css/NoiDungPhim.css" />
}

<div class=e40_153>
    <span class="e40_175">Nội dung phim</span><span class="e40_176">----------------------------------------------------</span>
    <div><img class="e40_177" src="~/img/phimpanda_1.png"></div><span class="e40_179">Đạo diễn: Mike Mitchell</span><span class="e40_180">Diễn viên: Jack Black, Dustin Hoffman, James Hong, Awkwafina.</span><span class="e40_181">Thời lượng: 94 phút</span><span class="e40_182">Khởi chiếu: 08/03/2024</span><span class="e40_183">Ngôn ngữ: Tiếng Anh - Phụ đề Tiếng Việt; Lồng tiếng</span><span class="e40_184">Rated:  P - PHIM ĐƯỢC PHÉP PHỔ BIẾN ĐẾN NGƯỜI XEM Ở MỌI ĐỘ TUỔI.</span><span class="e40_185">Kung Fu Panda 4</span>
    <div class=e142_4>
        <div class="e40_189"></div><span class="e40_190">Mua vé</span>
    </div><span class="e40_192">Thể loại: Hài, Hoạt Hình</span>

    <div class=e142_14>
        <div><img class="e142_6" src="~/img/iconDanhGia.png"></div>
        <div><img class="e142_7" src="~/img/iconDanhGia.png"></div>
        <div><img class="e142_8" src="~/img/iconDanhGia.png"></div>
        <div><img class="e142_9" src="~/img/iconDanhGia.png"></div>
        <div><img class="e142_10" src="~/img/iconDanhGia.png"></div>
        <span class="e142_12">(5/5)</span>
    </div>
    <div class=e142_15><span class="e142_11">Bình luận</span><span class="e142_13">(20)</span></div>
</div>
