<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/Css/LichChieu.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <div class=e50_231>
        <div class="e50_232"></div><span class="e50_233">Dịch vụ</span><span class="e50_234">Chăm sóc khách hàng</span><span class="e50_235">Kết nối với chúng tôi</span><span class="e50_236">Hợp tác </span>
    </div><span class="e50_237">Copyright by AT</span>
    <div class=e52_76>
        <div class="e52_77"></div>
        <a href="LichChieu.html"><span class="e52_84">Lịch chiếu</span></a>
        <a href="RapPhim.html"><span class="e52_78">Rạp phim</span></a>
        <a href="UuDai.html"><span class="e52_79">Khuyến mãi</span></a>

        <div class=e52_186>
            <div class=e52_81>
                <div class="e52_82">
                    <img class="e52_82" src="~/img/iconfilm.png">
                </div>
            </div><span class="e52_83">Đặt vé xem phim</span>
        </div>

        <div class=e52_85>
            <div class="e52_86">
                <img class="e52_86" src="~/img/TimKiem.png">
            </div>
        </div>
        <div class="e52_87"><a href="TrangAcount.html"><img class="e52_87" src="~/img/account.png"></div>
    </div>
</body>
</html>
