<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/Content/Css/at.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Css/fontawesome.css" rel="stylesheet" />
    <link href="~/Content/Css/templatemo-cyborg-gaming.css" rel="stylesheet" />
    <link href="~/Content/Css/animate.css" rel="stylesheet" />
    <link href="~/Content/Css/owl.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            flex-direction: column;
        }

        .content {
            flex: 1;
            padding-top: 100px;
        }

        footer {
            background: #1f2122;
            color: #fff;
            text-align: center;
            padding: 10px 0;
            position: relative;
            width: 100%;
        }
    </style>
</head>

<body >
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <a href="@Url.Action("Index", "HomeNguoiDung")" class="logo">
                            <img src="~/img/logo.png" alt="">
                        </a>
                        <div class="search-input">
                            <form id="search" action="#">
                                <input type="text" placeholder="Tìm Kiếm" id='searchText' name="searchKeyword" onkeypress="handle" />
                            </form>
                        </div>
                        <ul class="nav">
                            <li><a href="index.html" class="active">Trang chủ</a></li>
                            <li><a href="browse.html">Thông tin</a></li>
                            <li><a href="details.html">Review phim</a></li>
                            <li><a href="streams.html">Blogs Phim</a></li>
                            @if (Session["TaiKhoan"] != null)
                            {
                                <li><a>@Session["TaiKhoan"].ToString()</a></li>

                            }
                            else
                            {
                                <li><a href="@Url.Action("Login", "TrangAcount")">Tài Khoản</a></li>
                            }
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <div class="content">
        @RenderBody()
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>
                        Copyright © 2036 <a href="#">Cyborg TuanAnh</a> Company. All rights reserved.
                        <br>Design: TowAT</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
</body>

</html>
