
@{
    ViewBag.Title = "ThanhToan";
    Layout = "~/Views/Layout/_DungChungLayout.cshtml";
    <link rel="stylesheet" href="~/Content/Css/ThanhToan.css" />
}

<div class=e107_29>
    
    <div><img class="e117_548" src="~/img/phimpanda_1.png"></div>
    <span class="e117_552">Kung Fu Panda 4</span>
    <span class="e118_553">Thứ ba, 13 tháng 6 năm 2024</span><span class="e118_554">9:00 ~ 11:30</span>
    <span class="e118_555">CGV Aeon Tân Bình</span><span class="e118_556">Cinema 4</span>
    <span class="e118_557">Ghế: E4</span><span class="e118_558">PETS COMBOx1</span>
    <span class="e118_559">Tổng cộng: 250.000 đ</span>
    <div class="e119_560"></div><span class="e119_562">Thanh toán</span>
    <div class="e119_563"></div><span class="e119_566">PayPal</span>
    <div><img class="e119_570" src="~/img/imgPayPal.png"></div>
</div>
