
@{
    ViewBag.Title = "TrangAcount";
    Layout = "~/Views/Layout/DungChung.cshtml";

    <link rel="stylesheet" href="~/Content/Css/TrangAcount.css" />
}

<div class=e45_217>
   
    <div class="e52_293"></div>
    <div class="e52_295"></div><img class="e52_295" src="~/img/IconAcount.png"><span class="e52_296">Quốc Anh</span>
    <span class="e53_4">Phim đã xem gần đây</span><span class="e53_5">Vé chưa sử dụng</span>
    <div class=e55_12>
        <span class="e52_297">Vé đã mua</span>
        <div class="e55_9"><img class="e55_9" src="~/img/IconTicket.png"></div>
        <span class="e103_2">0</span>
    </div>
    <div class=e55_13>
        <span class="e103_3">0</span>
        <span class="e52_298">Phim đã xem</span>
        <div class="e55_11"><img class="e55_11" src="~/img/iconDaXem.png"></div>
    </div>
    <div class=e55_16>
        <span class="e52_299">Đánh giá</span>
        <div class="e55_15"><img class="e55_15" src="~/img/iconDanhGia.png"></div>
        <span class="e103_4">0</span>
    </div>
    <div class=e55_19>
        <span class="e53_3">Bình luận</span>
        <div class="e55_18"><img class="e55_18" src="~/img/iconBinhLuan.png"></div>
        <span class="e103_7">0</span>
    </div>
</div>

