
@{
    ViewBag.Title = "ThongTinVe";
    Layout = "~/Views/Layout/_DungChungLayout.cshtml";
    <link rel="stylesheet" href="~/Content/Css/ThongTinVe.css" />
}

<div class=e119_571>
   
    <div class="e119_607"></div><span class="e119_620">E4</span><span class="e119_617">Rạp CGV</span>
    <span class="e119_616">Thông tin vé</span><span class="e119_608">Kung Fu Panda 4</span>
    <span class="e119_609">Thứ ba, 13 tháng 6 năm 2024</span><span class="e119_610">9:00 ~ 11:30 / 2 giờ 30 phút</span>
    <span class="e119_611">CGV Aeon Tân Bình</span><span class="e119_612">Cinema 4</span><span class="e119_613">Ghế</span>
    <span class="e119_619">Phòng chiếu</span><span class="e119_614">PETS COMBOx1</span>
    <div class="e119_621"></div>
    <div class="e120_622"></div>
    <div><img class="e121_626" src="~/img/imgPhoto.png"></div>
    <span class="e121_628">ticket</span><span class="e121_627">Photo</span>
    <div><img class="e122_632" src="~/img/imgMa.png"></div>
</div>

