
@{
    ViewBag.Title = "KhuyenMai";
    Layout = "~/Views/Layout/_DungChungLayout.cshtml";
    <link rel="stylesheet" href="~/Content/Css/KhuyenMai.css" />
}

<div class=e107_8>
   
    <span class="e107_50">Khuyến mãi</span>
    <div class=e108_58>
        <div class="e107_52"><img class="e107_52" src="~/img/imgUuDai.png"></div>
        <span class="e107_53">12/5/2024 ~ 12/8/2024</span>
        <div class="e108_57"><img class="e108_57" src="~/img/iconLich.png"></div>
    </div>
    <div class=e108_67>
        <div class="e108_68"><img class="e108_68" src="~/img/imgUuDai.png"></div>
        <span class="e108_69">12/5/2024 ~ 12/8/2024</span>
        <div class="e108_70"><img class="e108_70" src="~/img/iconLich.png"></div>
    </div>
    <div class=e108_71>
        <div class="e108_72"><img class="e108_72" src="~/img/imgUuDai.png"></div>
        <span class="e108_73">12/5/2024 ~ 12/8/2024</span>
        <div class="e108_74"><img class="e108_74" src="~/img/iconLich.png"></div>
    </div>
    <div class=e108_75>
        <div class="e108_76"><img class="e108_76" src="~/img/imgUuDai.png"></div>
        <span class="e108_77">12/5/2024 ~ 12/8/2024</span>
        <div class="e108_78"><img class="e108_78" src="~/img/iconLich.png"></div>
    </div>
    <div class=e108_79>
        <div class="e108_80"><img class="e108_80" src="~/img/imgUuDai.png"></div>
        <span class="e108_81">12/5/2024 ~ 12/8/2024</span>
        <div class="e108_82"><img class="e108_82" src="~/img/iconLich.png"></div>
    </div>
    <div class=e108_83>
        <div class="e108_84"><img class="e108_84" src="~/img/imgUuDai.png"></div>
        <span class="e108_85">12/5/2024 ~ 12/8/2024</span>
        <div class="e108_86"><img class="e108_86" src="~/img/iconLich.png"></div>
    </div>
</div>

